@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');

@font-face {
font-family:"JetBrainsMono-Bold";
src: url("../Fonts/static/JetBrainsMono-Bold.ttf") format("truetype");
}

* {
margin: 0;
padding: 0;
}

body {
background: #2B343C;
overflow-y: hidden;  
}

.container{
width: 100%;
display: flex;
padding: 0 20px;
display: flex;
justify-content: center;
align-items: center;
}

.slide{
height: 50vh;
border-radius: 20px;
margin: 10px;
cursor: pointer;
color: #fff;
flex: 1;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
position: relative;
transition:  all 500ms ease-in-out;
opacity: 0.7;
background: #2B343C;
}

.slide h3{
position: absolute;
font-size: 24px;
bottom: 20px;
left: 20px;
margin: 0;
opacity: 0;
max-height: 464.5px;
}

.slide.active{
flex: 10;
opacity: 1;
}

.slide.active h3{
opacity: 1;
transition: opacity 0.3s ease-in 0.4s;
}


.whiteText{
color: rgb(255, 255, 255);
font-family:"JetBrainsMono-Bold";
src: url("../Fonts/static/JetBrainsMono-Bold.ttf") format("truetype");
position: relative;
transition:  all 500ms ease-in-out;

}

.point{
display: flex; 
flex-direction: column; 
align-items: center; 
margin-top: 50px;
margin-left: 10px;
font-size: 30px; 
writing-mode: vertical-rl;
}

.none {
display: none;
}

 

ul {
position: fixed;
top: 0;
width: 100%;
list-style-type: none;
overflow: hidden;
background: #15191d;
z-index: 1;
}
    
.btn1:hover {
cursor: pointer;
}
   
li {
float: left;
display: block;
color: rgb(139, 31, 179);
text-align: center; 
padding: 14px 16px;
text-decoration: none;
font-family:'JetBrainsMono-Bold';
font-size: 20px;
}
    
li:hover {
background: rgb(21, 25, 29);
}
    
a {
text-decoration: none;
color: rgb(139, 31, 179);
}

#page0{

font-family:'JetBrainsMono-Bold';
height: 900px;
margin-bottom: 10rem;
}
    
.projectText{
color: #939CA5;
font-size: 18px; 
}

#boxPage0{
display: flex;
justify-content: center;
height: 32rem;
background-color: #222930;
margin-top: 5%;
margin-left: 5%;
margin-right: 5%;
gap: 3%;
padding-top: 2%;
padding-left: 2%;
padding-right: 2%;
}




.underHeader0 {
margin-left: 10%;
margin-top: 100px;
color: #ffffff;
opacity: 0.5;
font-size: 30px;
font-family: 'JetBrains Mono', monospace;
font-weight: lighter;
}
.underHeader1 {
margin-left: 13%;
margin-top: 10px;
color: #ffffff;
opacity: 0.5;
font-size: 20px;
font-family: 'JetBrains Mono', monospace;
font-weight: lighter;
}

@media (min-width: 3210px) and (max-width: 4096px){
    .btn1{
        font-size: 60px;
    }

    .underHeader0{
        margin-top: 5%;
        font-size: 122px;
    }
    .underHeader1{
        font-size: 72px;
    }

    #boxPage0{
        height: 70rem;
    }

    .point{
        font-size: 62px;
    }

    .whiteText{
        font-size: 72px;
    }

    .projectText{

        font-size: 40px; 
        }

}
@media (min-width: 2050px) and (max-width: 3210px){

    #boxPage0{
        height: 50rem;
    }

}
