@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row, .row1, .row2 {
  display: flex;
  width: 600px;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 25px;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
  text-align: center;
}

.item, .item1, .item3 {
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: grab;
}
.item2 {
  display: none;
} 

.item:active {
  cursor: grabbing;
}
.item1:active{
  cursor: grabbing;
}

.item2:active{
  cursor: grabbing;
}

.item3:active{
  cursor: grabbing;
}

.plusButton:hover{
  cursor: pointer;
}
.placeholder, .placeholder1 {
  width: 150px;
  height: 66px;

}
.placeholder2{
  width: 150px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start {
  background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
}

.progress {
  background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
}

.done {
  background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}

.hold{
  background: linear-gradient(90deg, #ff85e4 0%, #8fd3f4 100%);
}

.hide{
  display: none;
}

.hovered{
  background: #84fab0;
  opacity: 0.8;
  border-radius: 20px;
}

